name: Frontend export

on:
  workflow_call:
    inputs:
      tag-version:
        required: true
        type: string
      upload-artifact-name:
        required: false
        default: out
        type: string
      env:
        required: false
        type: string
      is-lfs:
        required: false
        type: boolean
        default: false
    secrets:
      mySecrets:
        required: false

jobs:
  frontend-export:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: ${{ inputs.is-lfs }}

      - name: Check if LFS is enabled
        run: |
          if [ "$INPUT_IS_LFS" = "true" ]; then
            echo "LFS is enabled"
            git lfs pull
          else
            echo "LFS is disabled"
          fi

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          version: 10
          run_install: false

      - uses: actions/setup-node@v4
        name: Install Node.js
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Set env
        run: |
          echo -e "${{ inputs.env }}" >> $GITHUB_ENV
          echo -e "${{ secrets.mySecrets }}" >> $GITHUB_ENV

      - run: pnpm export
        env:
          TAG_VERSION: ${{ inputs.tag-version }}

      - name: Upload out artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.upload-artifact-name }}
          path: out
